<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue basics</title>
    <link rel="stylesheet" href="../theme.css">
</head>
  <body>

  <div class="container" id="app">
      <div class="card">
          <h1>{{ title }}</h1>
          <div class="form-control">
              <!--  (байнд для атрибутов) "v-bind:" это тоже самое что ":"    -->
              <!--  (байнд для событий) "v-on:" это тоже самое что "@"       -->
              <input
                  type="text"
                  :placeholder="placeholderString"
                  :value="inputValue"
                  @input="inputChangeHandler"
                  @keypress.enter="addNewNote"
              />
          </div>
          <button class="btn" @click="addNewNote">Добавить</button>
          <hr>
          <ul class="list" v-if="notes.length !== 0">
              <li class="list-item" v-for="(note, idx) in notes">
                  ({{ idx + 1 }}) {{ toUpperCase(note) }}
                  <button class="btn danger" @click="removeNote(idx)">удалить</button>
              </li>
              <hr>
              <li>
                  <strong>Общее кол-во заметок: {{ notes.length }}</strong> | Удвоенное: {{ doubleCountComputed }}
              </li>
          </ul>
          <div v-else>Заметок пока нет. Добавьте первую</div>
      </div>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js"></script>
  </body>
</html>